<ul>
    <li><a href="#"><strong>{{ wallboard.scheduled }}</strong>Appoint. Scheduled</a></li>
    <li><a href="#"><strong>{{ wallboard.notarrived }}</strong>Have Not Arrived</a>
    	<ul class="inner_menu">
        	<li><a href="#"><strong>{{ wallboard.waiting }}</strong>Waiting</a></li>
    		<li><a href="#"><strong>{{ wallboard.loaner }}</strong>Loaners</a></li>
    		<li><a href="#"><strong>{{ wallboard.other }}</strong>UBER/Shuttle/Other</a></li>
        </ul>
    </li>
    <li><a href="#"><strong>{{ wallboard.arrived_greeted }}</strong>Arrived & Greeted</a></li>
    <li><a href="#"><strong>{{ wallboard.checked_in }}</strong>Vehicles Checked In</a></li>
    <li><a href="#"><strong>{{ wallboard.in_progress }}</strong>Work In Progress</a></li>
    <li><a href="#"><strong>{{ wallboard.need_approval }}</strong>Need Approval</a></li>
    <li><a href="#"><strong>{{ wallboard.hold_for_parts }}</strong>Waiting for Parts</a></li>
    <li><a href="#"><strong>{{ wallboard.completed }}</strong>Work Completed</a></li>
    <li><a href="#"><strong>{{ wallboard.at_wash }}</strong>At Car Wash</a></li>
    <li><a href="#"><strong>{{ wallboard.picked_up }}</strong>Vehicle Picked Up</a></li>
</ul>