<div id="{{type}}_{{id}}" class="alert alert-success" role="alert">
                            
                            	<div class="row">
                                	<div class="col-sm-6"><h4 class="mt-0 font_regular">{{ description }}</h4></div>
                                    <div class="col-sm-6 text-right">
                                    	<!-- <div class="btn-group">
                                        	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></button>
                                            <button type="button" class="btn btn-success">PASS</button>
                                            <button type="button" class="btn btn-warning">WARN</button>
                                            <button type="button" class="btn btn-danger disabled">FAIL</button>
										</div> -->
										 <div class="btn-group" data-toggle="buttons">
										 <button type="button" class="btn btn-default camera" data="_{{id}}"><span class="glyphicon glyphicon-camera"></span></button>
							                <label class="btn btn-success ">
							                    <input type="radio"  name="{{type}}_{{id}}" value="success" selected />Pass
							                </label> 
							                <label class="btn btn-danger">
							                    <input type="radio"  name="{{type}}_{{id}}" value="danger" />FAIL
							                </label> 
							                <label class="btn btn-warning">
							                    <input type="radio"  name="{{type}}_{{id}}" value="warning" />WARN
							                </label> 
							               

							            </div>
                                    </div>
                                </div>
                                <div class="clear pad-10"></div>
                                <form>
                                	<input type="hidden" name="_{{id}}_status" value="pass">
                                	<input type="hidden" name="_{{id}}_categoryId" value="{{id}}" >
                                	<div class="form-group"><input type="text" class="form-control" placeholder="Add Observation" name="_{{id}}_observation" ></div>
                                    <div class="form-group"><input type="text" class="form-control" placeholder="Add Recommendation" name="_{{id}}_recommendation" ></div>
                                    <div class="form-group" style="width:50%"><input type="text" class="form-control" placeholder="Add Spec" name="_{{id}}_specs" ></div>
                                	<canvas data-image ="false" name="_{{id}}_image" id="_{{id}}" width="320" height="240"  style= "display: none"  ></canvas>
	                                </form>
	                            </div>