	
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
<div class="clearfix bg_wht FlaggingFilterForm">

	<div class="form-inline pad-10">
    	<div class="form-group">
        	<input type="search" class="form-control" id="searchTechView" 
        	{% if  roNumber %}
        	value="{{ roNumber  }}"
        	
        	{% endif %}
        	 placeholder="Search RO #">
  		</div>
         <div class="form-group">
        	<button type="submit" id="search" class="btn btn-link"><i class="fa fa-search fa-lg text_grey"></i></button>
  		</div> 
  		
  {%include 'flagging_app/partial/ro_details.html'%}
	</div></div></div>
</div>
<div class="clear pad-15"></div>
<div id="printable">
<div class="container-fluid">
	<div class="row">
    	<div class="col-lg-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  				<div class="panel panel-default">
                	<div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">CUSTOMER APPROVED SERVICE REQUESTS & ESTIMATE<i class="fa text_blue pull-right fa-plus-circle"></i><i class="fa text_blue pull-right fa-minus-circle"></i></a>
                        </h4>
                    </div>
    				<div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
      					<div class="panel-body">
                        	
                            <div class="clear pad-5"></div>
                            <div class="table-responsive">
                            {% include "flagging_app/partial/service_request.html" %}
                            </div>
      					</div>
    				</div>
  				</div>
  				<div class="panel panel-default">
  					<div class="panel-heading" role="tab" id="headingTwo">
		<h4 class="panel-title">
			<a class="collapsed" role="button" data-toggle="collapse"
				data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
				aria-controls="collapseTwo">INSPECTION RECOMMENDATIONS<i
				class="fa text_blue pull-right fa-plus-circle"></i><i
				class="fa text_blue pull-right fa-minus-circle"></i></a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
		aria-labelledby="headingTwo">
		<div class="panel-body">
			<div class="table-responsive">
  				
    				{% include "flagging_app/partial/recommendation.html"%}
  			
  			</div>
		</div>
	</div>
  			</div>
  				<!-- <div class="panel panel-default">
    				<div class="panel-heading" role="tab" id="headingThree">
      					<h4 class="panel-title">
        					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">RO HISTORY</a>
      					</h4>
    				</div>
    				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      					<div class="panel-body">
        					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      					</div>
    				</div>
  				</div> -->
			</div>
			<!--  -->
        </div>
    </div>
</div>
</div>
</div>
<script>

$(function(){
	var techView = new TechView();
	techView.bindEvents();
})
function TechView(){
	this.bindEvents = function (){
		
		
		/* $("#print").click(function(){
			print($("#techviewTab"));
		}); */
		$("#search").off("click").on("click",function(){
			getTechView(); 	
		});
		$("#searchTechView").keydown(function(e){
			
			  if(e.which == 10 || e.which == 13) {
				 
				getTechView();
				  
			
			 
	       }
		});	
	} 
}
function getTechView(){
	var roNumber = $("#searchTechView").val();
	var data = {"roNumber":roNumber};
	var url = "{% url 'flagging:tech_view'%}";
	ajaxRequest(url,"GET",successFunction,data);
}

</script>