  <div class="col-sm-6">
	  <div class="camera hidden">
	    <video id="video">Video stream not available.</video>
	    <button id="startbutton">Take photo</button> 
	  </div>
 </div>
 <div class="col-sm-6">
  <canvas id="canvas" class="hidden">
  </canvas>
  <div class="output hidden">
    <img id="photo" alt="The image capture will appear in this box."> 
  </div>
</div>
 <div class="col-sm-10">
 	<div class="container soutput hidden">
 		<img id="sphoto" alt="The image capture will appear in this box.">
 	</div>
 </div>

