<div class="col-xs-10">
	<div class="bg_wht pad-10">
	   	<div class="row">
	   	<div class="col-sm-10">
	   	<h4>NOTES SUMMARY:</h4>
	   	<table class="table table-bordered table-headgray"> 
		<thead> 
		    <tr> 
		        <th>Category</th>
		        <th>Type</th> 
		        <th>Image</th> 
		        <th>Notes</th> 
		    </tr> 
		</thead> 
		<tbody> 
		{% for obj in notes %}
		    <tr> 
		        <td>{{obj.other_category}}</td>
		        {% if obj.other_type %}
		        	<td>{{obj.other_type}}</td> 
		        {% else %}
		        	<td>{{obj.type}}</td>
		        {% endif %}
		        <td>{{obj.image_name}}</td>
		        <td>{{obj.notes}}</td>
		    </tr>
		 {% endfor %}
		</tbody> 
		</table> 
	</div>
	   	</div>
	</div>
</div>