<div id="select-advisor-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog">
    	<div class="modal-content">
        	<div class="modal-content">
            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select Advisor</h4>
                </div>
      			<div class="modal-body">
					
					<div class="row" id="advisor-appointment" >
                   		
					</div>
					<nav class="text-center"> 
	     			   <ul id="advisor_pagination" class="pagination">
	     			   </ul>
 					</nav>
					
                </div>	
    		</div>
    	</div>
  	</div>
</div>