{% extends 'customer/layouts/index.html' %}
{% block main %}

<div class="clear pad-50"></div>
<div class="container-fluid">
	<div class="row">
    	<div class="col-sm-offset-3 col-sm-6">
            <div class="well">
            	<h3 class="mt-0 text-center">Reset Password</h3>
                <p>Please enter the email associated with your Customer account and we will send instructions.</p>
                <form action="{% url 'customer:passreset' %}?delaer_code={{dealer_code}}" method="post"> 
                	{% csrf_token %}
                	<div class="form-group">
                		{% if  form.email.errors %}
				        	 <div class="alert error alert-danger fade in">
						    	<a href="#" class="close" data-dismiss="alert">&times;</a>
						    	<strong>Error!</strong>{{ form.email.errors }}
							</div>
						{%endif%}
                		{{ form.email }}
                    	<!-- <input type="email" class="form-control" id="" placeholder="c"> -->
  					</div>
                    <div class="clear pad-5"></div>
                    <button type="submit" class="btn btn-info">Ok</button> &nbsp; 
                    <a href="{% url 'customer:index' %}?dealer_code={{dealer_code}}" class="btn btn-grey">Cancel</a>
                     <input type="hidden" name="dealer_code" value="{{dealer_code}}"/>
				</form>
            </div>
        </div>
    </div>
</div>
<div class="clear pad-5"></div>
{% endblock %}