<h4 class="pull-left">Manage Services</h4>
<button type="button" class="btn btn-info pull-right button-service-add">Add New Service</button>
<div class="clear pad-5"></div>
<!--
<div id="carousel-dealer-services" class="carousel slide" data-ride="carousel">
-->
	<div id="service-appointment" class="row" role="listbox">
	</div>
	<!--
	<a class="left carousel-control" href="#carousel-dealer-services" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-dealer-services" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	-->
	<nav class="text-center"> 
		<ul id="service-pagination" class="carousel-linked-nav pagination"> 

		</ul> 
	</nav>
<!--
</div>
-->



