 <div id="addteam" class="hidden">
 				 <h4 class="font_regular">EDIT TEAM</h4>
 				 <div class="clear pad-5"></div>
                    	<div class="col-sm-6">
                            <div class="form-group">
                            	<label class="col-sm-3 control-label">Create New Team</label>
                                <div class="col-sm-9">
                                	<div class="input-group">                        
                                        <input class="form-control" type="text" name="team_name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default createteam" type="button">Create</button>
                                        </span>          			
                                    </div>
                                </div>
                            </div>
                          </div>
                  <div class="clear pad-10"></div>
                        <div class="text-right mr-20">
                        	<button type="button" class="btn btn-warning canceladdteam">Cancel</button> &nbsp; 
                        </div>
 </div>