<div class="row">
                    	<div class="col-sm-6">
                        	<div class="bg_wht pad-15">
                            	<form class="form-horizontal" id="dealerCntct">
                                	<h4 class="text-center font_regular mt-0">MAIN CONTACT</h4>
                                	<div id="maincontactgrid"></div>
                                	
                            </div>
                        </div>
                        <div class="col-sm-6">
                        	<div class="bg_wht pad-15">
                            	<div class="form-horizontal">
                                	<h4 class="text-center font_regular mt-0">EMAIL & SMS NUMBERS</h4>
                                	<div class="clear pad-10"></div>
                                	<h4 class="text-center font_regular mt-0">Marketing Email</h4>
                                	<div id="memailgrid"></div>
                                	<div class="clear pad-10"></div>
                                	<h4 class="text-center font_regular mt-0">Feedback Email</h4>
                                	<div id="femailgrid"></div>
                                	<div class="clear pad-10"></div>
                                	<h4 class="text-center font_regular mt-0">Service Email</h4>
                                	<div id="semailgrid"></div>
                                	<div class="clear pad-10"></div>
                                	<h4 class="text-center font_regular mt-0">SMS Numbers</h4>
                                	<div id="smsgrid"></div>
                            </div>
                        </div>
                       </div>
           </div>
                        
                    <div class="clear pad-10"></div>
                    <div class="row">
                    <div class="col-sm-6">
                        	<div class="bg_wht pad-15">
                            	<h4 class="text-center font_regular mt-0">SHOP HOURS</h4>
						           <div id="shophrsgrid"></div>
                            </div>
                        </div>
                    	<div class="col-sm-6">
                        	<div class="bg_wht pad-15">
                            	<h4 class="text-center font_regular mt-0">Holidays</h4>
						           <div id="holidays"></div> 
                            </div>
                        </div>
                      </div>