<p> <b>Edit Flag:</b> Select a Flag to Edit</p>
        <div class="row">
            <div class="col-sm-4">
                <div class="EditFlagCont clearfix">
                    <div class="list-group FlagList">
                    {% for obj in flags %}
                        <a class="list-group-item" id="flagtype{{obj.type}}" value="{{obj.data}}"> Flag {{obj.type}}</a>
                    {% endfor %}
                    </div>
                    <div class="FlagListItemsCont">
                        <input id="FlagItemSearchField" class="FlagItemAutoSearch" placeholder="Search">
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-default"  data-toggle="modal" data-target=".addflag"><span aria-hidden="true" class="glyphicon glyphicon-plus mr-10"></span> Add New Flag</button>
            </div>
        </div>
       
             
       {% include "manage/editflag.html" %}
       {% include "manage/addflag.html" %}   
