<div class="InspectionAccordion">
    <div class="row packagelistitems">
        {% include "manage/packagelist.html" %}
        <div class="catlist">
        {% include "manage/categorylist.html" %}
        </div>
    </div>
    <div id="insp_detail">
   
    </div>
</div>
    {% include "manage/modalpackage.html" %}
    {% include "manage/modalnewitems.html" %}
    {% include "manage/modalcategory.html" %}
    {% include "manage/modaleditpackage.html" %}
    {% include "manage/editcategorymodal.html" %}