<div class="modal fade addnewitem" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" style="width:800px">
	    <div class="modal-content">
	        <div class="modal-header">
	            <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">x</span></button>
	            <h4 class="modal-title">Add New Inspection Item to Available Items list</h4>
	        </div>
	        <div class="modal-body">
	            <p>1. Create a title for item.
	                <!-- br> 2. Selection inspection items from Available Inspection Items list and move them to New Inspection List.<-->
	            </p>
	            <div class="InspectionAccordion">
	                <div class="row">
	                    <div class="InspectionAccordionCreate">
	                        <div class="col-sm-12">
	                            <form class="form-horizontal" id="additemnew">
	                                <div class="form-group">
	                                    <label for="NewInspTitle" class="col-sm-3 control-label">New Item Title</label>
	                                    <div class="col-sm-9">
	                                        {{iform.item_name}}
	                                    </div>
	                                    <button type="submit" class="btn btn-default mt-10"><span aria-hidden="true" class="glyphicon glyphicon-plus mr-10"></span>Create Item</button>
	                                </div>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	                <!-- div class="row">
	                    <div class="InspectionAccordionAdd mt-20">
	                        <div class="col-sm-5">
	                            <div class="InspectionAccordionAvalaible">
	                                <p class="InspectionListHead"><b>Avalaible Inspection Items</b></p>
	                                <form>
	                                    <select style="" class="form-control CustListCont" multiple="multiple">
	                                        <option>Inpect Instrument Panel Warning Light</option>
	                                        <option>Inpect Fog Light</option>
	                                        <option>Inpect Front Windshield</option>
	                                        <option>Inpect Rear Windshield</option>
	                                        <option>Inpection Instrument Panel Warning Light</option>
	                                        <option>Inpect Instrument Panel Warning Light</option>
	                                        <option>Inpect Fog Light</option>
	                                        <option>Inpect Front Windshield</option>
	
	                                        <option>Inpect Rear Windshield</option>
	                                        <option>Inpection Instrument Panel Warning Light</option>
	                                    </select>
	                                </form>
	                            </div>
	                        </div>
	                        <div class="col-sm-2 InspectionAccordionAddRemove" style="">
	                            <button class="btn btn-info BtnAddInspection" type="button">
	                                <span class="AddListBtnTxt">Add</span>
	                                <span class="AddListBtnArrows"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></span>
	
	                            </button>
	                            <button type="button" class="btn btn-info mt-10 BtnRemoveInspection">
	                                <span class="RemoveListBtnArrows"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></span><span class="RemoveListBtnTxt">Remove</span>
	                            </button>
	                        </div>
	                        <div class="col-sm-5">
	                            <div class="InspectionAccordionSelected">
	                                <p class="InspectionListHead"><b>Selected Inspection Items</b></p>
	                                <form>
	                                    <select class="form-control CustListCont" multiple="multiple">
	                                        <option>Inpect Instrument Panel Warning Light</option>
	                                        <option>Inpect Fog Light</option>
	                                        <option>Inpect Front Windshield</option>
	                                        <option>Inpect Rear Windshield</option>
	                                        <option>Inpection Instrument Panel Warning Light</option>
	                                        <option>Inpect Instrument Panel Warning Light</option>
	                                        <option>Inpect Fog Light</option>
	                                        <option>Inpect Front Windshield</option>
	                                        <option>Inpect Rear Windshield</option>
	                                        <option>Inpection Instrument Panel Warning Light</option>
	                                    </select>
	                                </form>
	                                <button type="button" class="btn btn-default mt-10"><span aria-hidden="true" class="glyphicon glyphicon-plus mr-10"></span>Create Inspection</button>
	                            </div>
	                        </div>
	                    </div>
	                </div-->
	            </div>
	        </div>
	    </div>
	</div>
</div>