<div class="modal fade addnewpackage" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
     <div class="modal-dialog">
	     <div class="modal-content">
	         <div class="modal-header">
	             <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">x</span></button>
	             <h4 class="modal-title">Create New Inspection</h4>
	         </div>
	         <div class="modal-body">
	             <p>1. Enter Title Of New Package</p>
	             <form id="add_package">
	             	{{pform.pack_name}}
	                 <button type="submit" class="btn btn-default mt-10" id="addpack"><span aria-hidden="true" class="glyphicon glyphicon-plus mr-10"></span>Add</button>
	             </form>
	         </div>
	     </div>
 	</div>
</div>