<div class="modal fade" id="add-favorites-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
        	<div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Favorites</h4>
      		</div>
      		<div class="modal-body">
      			<!--
        			<div class="col-sm-6"><input type="text" class="form-control" placeholder="Search"></div>
        		-->
                <div class="clear pad-10"></div>
                <div class="col-sm-7">
                	<select id="favorites-modal-list" class="form-control">
                    	<option>Add Favorites</option>
                    </select>
                </div>
                <div class="clear pad-10"></div>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button> &nbsp; 
                <button id="add-fav-button" type="button" class="btn btn-success">Add</button>
      		</div>
    	</div>
  	</div>
</div>