	<div class="panel panel-default collaps_main_container" id="model_container_vehicle">
	                	<div class="panel-heading wht-heading" role="tab" >
				                <h6 class="panel-title">
				                    <a  role="button "  aria-expanded="false" aria-controls="service">
				                    	<span class="collapse_button_trigger pointer">Model Selection</span> 
				                    	<i class="fa fa-minus-circle text_blue pull-right collapse_button" data-minclass="fa-minus-circle" data-plusclass="fa-plus-circle"></i>
				                    </a>
				                </h6>
				            </div>
						 <div id="service" class=" collapsable_div" role="tabpanel" aria-labelledby="service" >
				                <div class="panel-body">
				                	<div class="row">
				                		<div class="col-sm-offset-10 col-sm-2">
				                			<input type="text" id="searchbox_vehicle" placeholder="Search" class="form-control" />
				                		</div>
				                	</div>
				                	<div class="pad-5"></div>
									<div class="row " id="models_container">
  									
                           			</div>    
	                             	<nav class="text-center"> 
	                                	<ul class="pagination models_pagination_div">
	                                	 </ul>   
	                               </nav>
                             
                            	</div>
  						 </div>
  	</div>
  	
  	<div class="model_template" style="display:none" >
	  	<div class="col-xs-6 col-sm-3 text-center model_class" data-vid="">
	                                    	<a  class="thumbnail pointer">
	                                    			<img src="" height="130px" width="250px" class="thumbnail_inner model_image img-center mb-10">
	                                    		<strong class="text_blck make_label"></strong>
	                                        	<strong class="text_blck model_label"></strong>
	                                        	<strong class="text_blck year_label"></strong>
	                                        </a>
	    </div>
    </div>