	<div class="panel panel-default collaps_main_container" id="vehicle_service_form">
				            <div class="panel-heading wht-heading" role="tab" id="appointments">
				                <h6 class="panel-title">
				                    <a  role="button" data-toggle="collapse" data-parent="#accordion2" href="#service" aria-expanded="false" aria-controls="service">
				                    	<i class="fa fa-car fa-lg mr-10 text_g999"></i> Service 
				                    	<i class="fa fa-minus-circle text_blue pull-right collapse_button" data-minclass="fa-minus-circle" data-plusclass="fa-plus-circle"></i>
				                    </a>
				                </h6>
				            </div>
				            <div id="service" class=" collapsable_div" role="tabpanel" aria-labelledby="service">
				                <div class="panel-body">
				                	<div class="row">
				                    	<div class="col-sm-9">
				                			<h4 class="font_regular">
				                				Select services for your vehicle. Not sure? <a class="not_sure" href="#" data-toggle="modal" data-target=".brake">Click here</a></h4>
				                        </div>
				                        <div class="col-sm-3">
				                        	<input type="search" class="form-control" placeholder="Search" id="search_box_services">
				                        </div>
				                    </div>        
				                    <div class="clear pad-10"></div>
				                    
				                   	<div class="row" id="service-appointment">
									</div>
									<nav class="text-center"> 
					     			   <ul id="service_pagination" class="pagination">
					     			   </ul>
				    				</nav>
				
				                </div>
				            </div>
				             
				 </div>