	<div class="pad-10"></div>
	<div class="panel panel-default collaps_main_container" id="wayaway_selection_form">
				            <div class="panel-heading wht-heading" role="tab" >
				                <h6 class="panel-title">
				                    <a  role="button "  aria-expanded="false" aria-controls="service">
				                    	<span class="collapse_button_trigger pointer">A Way Away</span> 
				                    	<i class="fa fa-plus-circle text_blue pull-right collapse_button" data-minclass="fa-minus-circle" data-plusclass="fa-plus-circle"></i>
				                    </a>
				                </h6>
				            </div>
				            <div id="service" class=" collapsable_div" style="display:none" role="tabpanel" aria-labelledby="service">
				                <div class="panel-body">
				                	     
				                    <div class="clear pad-10"></div>
				                    
				                   <div id="wayaway-appointment" >
				                   		
				                   					<div class="ajax-content"></div>
				                   		
				                   		
				                   		
									</div>
									
				
				                </div>
				            </div>
				             
				 </div>
				 
				 <script>
				 		
				 
				 </script>